/* ===========================
   Gaurav Paul - Official Website
   Premium Futuristic Theme
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0B0F19;
    color:white;
    line-height:1.8;
}

section{
    width:90%;
    max-width:1100px;
    margin:70px auto;
    padding:40px;
    background:#151A28;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

h1{
    font-size:3rem;
    color:#00D4FF;
    margin-bottom:20px;
}

h2{
    font-size:2rem;
    color:#00D4FF;
    margin-bottom:20px;
}

p{
    font-size:1.1rem;
    color:#D8D8D8;
    margin-bottom:18px;
}

a{
    text-decoration:none;
}
/* ===========================
   Navigation Bar
=========================== */

nav{
    position:sticky;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    background:rgba(11,15,25,0.9);
    backdrop-filter:blur(12px);
    border-bottom:1px solid rgba(255,255,255,0.08);
    z-index:1000;
}

.logo{
    font-size:1.5rem;
    font-weight:bold;
    color:#00D4FF;
    letter-spacing:2px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    color:white;
    font-weight:600;
    transition:0.3s;
}

nav ul li a:hover{
    color:#00D4FF;
}